.navAdmin {
  background-color: #928590;
  width: 300px;
  border-radius: 20px;
}

.option-cate {
  width: 100%;
}
.categoriesAm {
  display: flex;
  margin: 10px 0 10px 0;
  border-radius: 15px;
  justify-content: start;
  align-items: center;
  padding: 20px;
  position: relative;
  cursor: pointer;
}

.select {
  position: relative;
  border-radius: 15px;
  background: #fff;
}

.categoriesAm > .icon-cate > svg {
  color: #433e49;
  width: 25px;
  height: 25px;
  margin: 0 5px 0 0;
}
.categoriesAm > p {
  padding: 0;
  margin: 0;
  color: #433e49;
  font-size: 16px;
  font-weight: bold;
}
.allCate {
  margin: 30px;
}
.dash-categories {
  justify-content: flex-start;
  padding-left: 2em;
  padding-right: 2em;
}
.dash-categories > .dash-op {
  justify-content: flex-start;
  width: 250px;
  height: 180px;
  border: 1px solid #ffffff;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 1.5rem 0.5rem;
}
.dash-op > .detail > p {
  margin-top: 15px;
  font-weight: bold;
  color: #433e49;
  font-size: 18px;
}
.user-all,
.view-all,
.blog-all {
  display: flex;
  justify-content: flex-end;
}
.user-all > .user-all-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  background: wheat;
  margin: 10px 10px 0 0;
}
.view-all > .view-all-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: #e4bdc5;
  margin: 10px 10px 0 0;
}
.blog-all > .blog-all-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: #99aad8;
  margin: 10px 10px 0 0;
}
.user-all > .user-all-icon > svg {
  color: #433e49;
}
.view-icon > svg {
  color: #433e49;
}
.Activity {
  margin-left: 2.5rem;
}
.act-detail {
  align-items: center;
  width: 600px;
  height: 350px;
  border: 1px solid #ffffff;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar {
  width: 0.5em;
  height: 0.5em;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  background-color: #aeaeae;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #928590;
}
