.categoryPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px;
}

.row {
  display: flex;
  justify-content: center;
}

.col {
  margin: 10px; /* ระยะห่างระหว่างการ์ด */
}

.card {
  height: 100%; /* กำหนดความสูงของการ์ดให้เท่ากับสูงสุด */
  display: flex;
  flex-direction: column;
}

.card-body {
  height: 60px;
  text-align: center; /* จัดข้อความให้อยู่ตรงกลาง */
  margin-top: 10px;

}

.card-img-top {
  width: 100%; /* ทำให้รูปภาพเต็มขนาดตาม container */
  height: 200px; /* กำหนดความสูงของรูปภาพ */
  object-fit: cover; /* ปรับขนาดรูปภาพให้พอดีกับขนาด container โดยไม่เปลี่ยนรูปแบบของรูป */
}

.custom-card-title {
    text-align: center; /* จัดให้อยู่ตรงกลาง */
    font-size: 18px; /* ปรับขนาดตัวอักษร */
    color: #333; /* สีข้อความ */
    /* เพิ่มรูปแบบอื่น ๆ ตามต้องการ */
  }
  
  