.homepage img {
  object-fit: cover;
  height: 80vh;
  overflow: hidden;
}
.homepage h1.right {
  font-size: 3em;
  text-align: center;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 70%;
  width: 45%;
  transform: translate(-50%, -50%);
}
.other {
  position: absolute;
  left: 95vw;
  z-index: 10;
}
@media screen and (max-width: 960px) {
  .other {
    position: absolute;
    left: 90vw;
    z-index: 10;
  }
}
@media screen and (max-width: 720px) {
  .up {
    position: absolute;
    left: 85vw;
    z-index: 10;
  }
}
