.regispage {
  background: linear-gradient(to bottom, white, #fff6f8);
  height: 100vh;
}

h3 {
  text-align: center;
  color: #433e49;
}
#RGbutton {
  background-color: #433e49;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  width: 30%;
}
#RGbutton:hover {
  background-color: #939495;
}
#navbar2 {
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#navbar2 .linka a {
  text-decoration: none;
  color: #433e49;
}
#navbar2 a:hover {
  color: #e4bdc5;
}

#navbar2 .head1 h1 {
  padding-left: 5rem;
  color: #433e49;
  font-size: 30px;
  margin: 0;
}

#navbar2 .head1 h2 {
  color: #433e49;
  padding-left: 5rem;
  font-size: 20px;
  margin: 0;
}
.head1 {
  flex: 1;
}
.linka a {
  padding-right: 40px;
  font-size: 18px;
  font-weight: bold;
}
.linka {
  padding-right: 5rem;
}
.container {
  max-width: 700px;
}
.container h1 {
  position: relative;
  bottom: 300px;
  position: fixed;
  font-weight: bold;
  font-size: 50px;
  color: white;
  padding: 1em 0 0 0;
  margin-left: 10rem;
  width: 800px; /* ปรับขนาดสูงสุดของข้อความ */
}
.imagestart {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 30vw; /* ความกว้างของ imagestart เป็น 30% ของ viewport width */
  height: 30vh; /* ความสูงของ imagestart เป็น 30% ของ viewport height */
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.start1 {
  position: absolute;
  border-radius: 400px 400px 0 0;
  width: 80%; /* กำหนดความกว้างสำหรับ start1 */
  max-width: 500px; /* ปรับขนาดสูงสุดของ start1 */
  height: auto; /* ปรับความสูงอัตโนมัติ */
}

.start2 {
  position: absolute;
  border-radius: 400px 400px 0 0;
  width: 80%; /* กำหนดความกว้างสำหรับ start2 */
  max-width: 400px; /* ปรับขนาดสูงสุดของ start2 */
  height: auto; /* ปรับความสูงอัตโนมัติ */
  right: 150px;
}

.burger-menu {
  display: none;
}

.Form1 {
  max-width: 600px;
  margin: 0 auto;
  border-radius: 8px;
  padding-top: 5rem;
}
.btn2 {
  position: absolute;
  bottom: 150px;
  left: 160px;
  padding: 20px;
  border-radius: 20px;
  font-size: 20px;
  background: white;
  color: #344268;
}

.alert-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure the overlay is on top of everything else */
}

.alertbox {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.alert-box p {
  margin: 0;
  font-size: 16px;
}

.btnClose {
  margin-top: 10px;
  padding: 8px 16px;
  background-color: #433e49;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.btnClose:hover {
  background-color: #e4bdc5;
}
.facebook-regist {
  border: 2px solid #433e49;
  border-radius: 10px;
  display: flex;
  align-items: center;
  background-color: white;
}
.facebook-icon {
  color: #108cff;
  height: 2em;
  width: 2em;
}
.google-bt {
  background: white;
  border: 2px solid #433e49;
  border-radius: 10px;
  display: flex;
  align-items: center;
}
.google-icon {
  height: 1.9em;
  width: 1.9em;
}
.lineor {
  padding: 0;
  margin: 0 5px;
}
.or {
  display: flex;
  align-items: center;
  margin: 10px 0; /* แก้ไขตามความต้องการ */
}

.line {
  flex: 1;
  height: 1px;
  background-color: #000; /* สีของเส้น */
  margin: 0 10px; /* ระยะห่างของเส้นและตัวหนังสือ 'or' */
}

@media screen and (max-width: 768px) {
  button {
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
  }

  #navbar .linka {
    display: none;
  }

  .burger-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
  }
  .linka a {
    display: none;
  }
  .burger-icon {
    width: 30px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
  }

  .bar {
    width: 100%;
    height: 3px;
    background-color: #433e49;
    border-radius: 3px;
  }

  .menu-links {
    display: none;
    flex-direction: column;
    background-color: white;
    padding: 1em;
    border-radius: 10px;
    position: absolute;
    top: 60px;
    right: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  #burger-checkbox:checked + .menu-links {
    display: flex;
  }

  .menu-links a {
    text-decoration: none;
    color: black;
    padding: 0.5em 0;
    text-align: center;
  }

  #burger-checkbox {
    display: none;
  }
  .container h1 {
    font-size: 8vw; /* ใช้ viewport width เพื่อปรับขนาดตัวหนังสือให้ลดลงตามขนาดของหน้าจอ */
    padding: 1em 0; /* ปรับการเรียงตำแหน่ง */
    width: 90%; /* ให้ข้อความหัวข้อไม่ขยายเกินขอบจอ */
    margin: 0 auto; /* จัดให้หัวข้ออยู่กึ่งกลางของหน้าจอ */
  }
}
